@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* tag */
h1 {font-family: 'Nanum Pen Script', cursive; font-size: 52px;}
ul { width: 300px; border: 2px solid red; list-style-position: inside; list-style-image: url(bulit_green.gif); border-top-left-radius: 50%; border-bottom-right-radius: 50%;}
ul li {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; list-style-image: url(bulit_green.gif);}
ol { list-style-image: url(bulit_green.gif);}

/* id */
#img {width: 500px; margin: 0 auto;}
#content {width: 1500px; margin: 0 auto; border: 3px double firebrick; padding: 20px;}

/* class */
.Linage {border: 10px solid #4e4b72;}
.lorem0 {font-variant: small-caps; font-size: 30px; text-indent: -20px; margin: 10px;}
.lorem1 {text-transform: uppercase; font-size: 30px; text-shadow: 3px 3px 10px red; letter-spacing: 2px; word-spacing: 5px; text-align: center;}
