// * {
//   border: 1px solid red;
// }

svg {
  position: absolute;
  top: 0;
  width: 50vh;
  height: 50vh;
  pointer-events: none;
}

.wrap {
  margin: auto;
  width: 50vh;
  height: 50vh;
  display: flex;
  position: absolute;
  flex-flow: column;
}

.row {
  // border: 1px solid blue;
  height: calc(100% - (10px * 6 / 5));
  display: flex;

  .tile {
    display: flex;
    margin: 10px;
    width: calc(100% - (10px * 6 / 5));
    justify-content: center;
    align-items: center;
    &.selected {
      background-color: red;
    }
    &.hide {
      display: none;
    }
    &.block {
      border: 3px solid rgba(165, 42, 42, 0.89);
      box-shadow: 1px 1px 3px darken(rgba(165, 42, 42, 0.89), 10);
      &:hover {
        transform: scale(101%);
        border: 3px solid rgba(165, 147, 42, 0.89);
        box-shadow: 1px 1px 3px darken(rgba(165, 147, 42, 0.89), 10);
      }
    }
  }
}
