html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", "Noto Sans KR", sans-serif;
  background: repeating-linear-gradient(90deg, white, white 1px, 0, transparent 5%) #333;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

img {
  vertical-align: top;
}

.hidden {
  display: none;
}

#header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

#header #logo {
  position: absolute;
  top: 10px;
}

#header #logo img {
  height: 30px;
}

#header #gnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header #gnb ul a {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  padding: 0 40px;
}

#footer {
  background-color: #333;
  color: #fff;
}

#footer .utilMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#footer .utilMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .utilMenu ul li:first-child a:before {
  display: none;
}

#footer .utilMenu ul li a {
  display: block;
  padding: 30px;
  position: relative;
}

#footer .utilMenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#footer .addressBox {
  width: 1200px;
  margin: auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#footer .addressBox .address {
  margin-left: 50px;
  line-height: 1.5;
}

#footer .addressBox .address .copyright {
  margin-top: 30px;
}

#footer .addressBox .tel {
  margin-left: auto;
}

#footer .addressBox .tel strong {
  display: block;
  font-size: 3.6rem;
  font-weight: 600;
  margin-top: 20px;
}

.btnTop {
  background-color: #bf0c14;
  width: 80px;
  height: 80px;
  position: fixed;
  right: 50px;
  bottom: -100px;
  color: #fff;
  z-index: 10;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btnTop.on {
  bottom: 50px;
}
