@charset "utf-8";

body, h1, h2, h3, h4, p, ul, li, ol, q {margin: 0; padding: 0;}
a {text-decoration: none; color: #333;}
ul {list-style: none;}
.clear::after {content: ""; display: block; clear: both;}

/* 공통 & PC */
#wrap {max-width: 1200px; margin: 0 auto;}

header { background-color: #34495e; height: 50px; position: relative;}
.gnb { display: flex; justify-content: center;}
.gnb li { line-height: 50px; padding: 0 30px; border-right: 1px solid white;}
.gnb li:last-child {border: none;}
.gnb li a { color: white;}
.toggle {display: none;}

#visual { height: 400px; position: relative; overflow: hidden;}
.slide_list {width: 400%; position: absolute; left: 0; top: 0; animation: roll 8s forwards infinite; display: flex;}
.slide_list li {width: 25%;  height: 400px; flex: 1;}
.slide_list li.bg1 {background: url(../images/top-1.jpg) no-repeat center / cover;}
.slide_list li.bg2 {background: url(../images/top-2.jpg) no-repeat center / cover;}
.slide_list li.bg3 {background: url(../images/top-3.jpg) no-repeat center / cover;}
.slide_list li.bg4 {background: url(../images/top-1.jpg) no-repeat center / cover;}


#content {text-align: center;}
#content section {padding: 80px 5%;}
#content section:first-child {display: flex; flex-flow: row wrap; justify-content: space-between;}

#content section h2 {font-size: 30px; margin-bottom: 20px; width: 100%;}
#content section>p {font-size: 20px; line-height: 2;  margin-top: 30px; width: 70%;}
#content section img { width: 20%;}
#content section:nth-child(2n-1) {background-color: #f3f3f3;}

#content section q::before {content: ""; display: block; height: 50px; background: url(../images/quot-1.png) no-repeat center top;}
#content section q { color: orangered; font-size: 20px; font-weight: bold; font-style: italic;}
#content section:nth-child(2) { padding-bottom: 130px;}
#content section:nth-child(2) p {width: 100%;  text-align: center;}
#content section q::after {content: ""; display: block; height: 50px; background: url(../images/quot-2.png) no-repeat center bottom;}

.list {margin-top: 30px; display: flex; justify-content: space-between;}
.list li { padding: 10px; border: 1px solid #333; box-sizing: border-box; width: 23%;}
.list li:last-child {margin-right: 0;}
.list li h3 {margin: 10px 0;}
.list li p {text-align: left; line-height: 1.8; font-size: 14px;}


footer { background-color: #34495e; padding: 20px; display: flex; justify-content: space-between;}
.copy { color: white; }
.sns {display: flex; flex-flow: row nowrap;}
.sns li { padding: 0 10px;}

@keyframes roll {
    0% {}
    33.33% {left: -100%;}
    66.66% {left: -200%;}
    100% {left: -300%;}
}


@media screen and (max-width: 860px) {
    .list {flex-flow: row wrap; justify-content: space-around;}
    .list li { margin-bottom: 15px; width: 47%; border: 1px solid #333; box-sizing: border-box; margin-right: 0;}
    .list li:nth-child(2n) {}
    .list li:nth-child(2n-1) {}
    #content section:first-child {justify-content: center;}
    #content section:first-child p {margin-bottom: 30px; width: 100%;}
    #content section:first-child img {align-self: center;}

    
}

@media screen and (max-width: 580px) {
    .toggle {display: block; position: absolute; top: 5px; right: 3%; }
    .toggle span {width: 30px; height: 2px; background-color: white; display: block;}
    .toggle span:nth-child(2) {margin: 7px 0;}
    .toggle:hover + nav .gnb {height: 160px;}
    
    .gnb {position: absolute; left: 0; top: 30px; height: 0px; overflow: hidden; transition: height 1s; z-index: 1; flex-flow: column wrap; width: 100%;} 
    .gnb li { line-height: 30px; padding: 0 5%; height: 30px; border-right: 0; background-color: rgba(52, 73, 94, 0.8); border-bottom: 1px solid #333; text-align: center;}
    .gnb li:last-child {border: none;}
    .gnb li a { color: white;}
    
    .list li {margin-bottom: 15px; width: 100%; border: 1px solid #333; box-sizing: border-box; margin-right: 0;}
    .list li:nth-child(2n) {}
    .list li:nth-child(2n-1) {}
    .copy {}
    .sns {}         
}