@charset "utf-8";

body, h1, h2, h3, h4, ul, li, p { margin: 0; padding: 0; }
a { text-decoration: none; color: #333; }
nav ul { list-style: none; }
.clear::after { content: ""; clear: both; display: block; }
.inner { width: 1000px; margin: 0 auto; }

header { background-color: #34495e; height: 50px; }
header nav {}
.main_menu { width: 592px; margin: 0 auto; height: 50px;}
.main_menu li { float: left; line-height: 50px; 
                padding: 0 30px;  
                border-right: 1px solid #fff; }
.main_menu li:last-child { border-right: 0; }
.main_menu li a { color: #fff; }
.main_menu li:hover a { color: aqua; }

#main_img { text-align: center; }
#main_img img { width: 100%; }
#content {}
#content h2 { font-size: 30px; text-align: center; }

#con01 { padding: 100px 0 70px; background-color: #f3f3f4; }
#con01 .intro { margin-top: 50px; }
#con01 p { float: left; width: 700px; 
           line-height: 2; font-size: 20px; }
#con01 img { float: right; width: 250px; 
             margin-top: -50px;  }

#con02 { padding: 50px 0; text-align: center; }
#con02 img { display: block; 
             width: 116px; margin: 50px auto; }
#con02 q { font-size: 24px; color: orangered; 
           line-height: 2; }
#con02 p { font-size: 22px; font-style: italic; 
           margin-top: 20px;  }

#con03 { padding: 100px 0 70px; 
         background-color: #f3f3f4; }
#con03 .program { list-style: none; 
                  margin-top: 50px; }
#con03 .program li { float: left; 
                     width: 238px; 
                     margin-right: 15px; 
                     background-color: #fff; 
                     border: 1px solid #555; 
                     box-sizing: border-box; 
                     padding: 15px; }
#con03 .program li:hover { border-color: blue; 
                           cursor: pointer; }
#con03 .program li:last-child { margin-right: 0; }
#con03 .program li h3 { margin: 10px 0 20px; }
#con03 .program li p { line-height: 1.8; 
                       font-size: 14px; color: #333; }

footer { background-color: #34495e; padding: 20px 0; }
footer .copy { list-style: none; float: left; 
               color: #fff; line-height: 1.6; 
               font-size: 14px; }
footer .sns { list-style: none; float: right; 
               margin-top: 35px; }
footer .sns li { display: inline-block; margin: 0 10px; }
