#header {
    display: flex;
    h1 {
        a {
            color: red;
            text-decoration: none;
            &:hover {
                font-size: 50px;
            }
            &::after {
                content: "after";
                display: block;
            }
        }
    }
    #gnb {
        >ul {
            display: flex;
            justify-content: center;
        }
    }
}
