@charset "utf-8";
* {margin: 0 0; padding: 0 0; border: 1px dotted rgba(0, 0, 0, 0.342);}
a {text-decoration: none; color: black;}
.clear::after {content: ""; display: block; clear: both;}
header {width: 1000px; height: 150px; margin: 0px auto; text-align: center; position: relative;}
header h1 img {display: block; margin: 10px auto;}
header nav {width: 490px; margin: 0 auto;}
header nav li {width: 100px; float: left; list-style-type: none; margin: 0 10px; position: relative;}
header nav li::after {content: ""; width: 2px; height: 20px; background-color: blue; position: absolute; left: 110px;}

#visual {}

#content {}

footer {}



